version: '3.9'

services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest

  orderservice:
    build:
      context: .
      dockerfile: OrderService.API/Dockerfile
    container_name: orderservice
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    ports:
      - "8080:8080"
    depends_on:
      - rabbitmq

  paymentservice:
    build:
      context: .
      dockerfile: PaymentService.API/Dockerfile
    container_name: paymentservice
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    ports:
      - "8081:8081"
    depends_on:
      - rabbitmq
      - orderservice

  notificationservice:
    build:
      context: .
      dockerfile: NotificationService.API/Dockerfile
    container_name: notificationservice
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    ports:
      - "8082:8082"
    depends_on:
      - rabbitmq
      - paymentservice
